---
import Layout from "@/layouts/Layout.astro";

import { Content as AboutMeContent } from "../../content/homepage/about-me.md";
import PostList from "@/components/PostList.astro";
---

<Layout title="Jo Gramnæs Tjernshaugen" location={[]}>
  <div class="prose" slot="main">
    <AboutMeContent />
  </div>

  <PostList compact />
</Layout>
